@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #6d7d93;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-family: "Almarai", sans-serif;
  font-family: "Roboto", sans-serif;
  background: #f1f3f4;
  width: 450px !important;
  padding: 10px;
  margin: auto !important;
  text-align: center !important;
  justify-content: center !important;
  box-shadow: 2px 2px 4px rgba(110, 99, 99, 0.3);
  direction: rtl !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

/* End Global Rules */

/* Start Welcome */
.Welcome h1 {
  font-family: Cairo;
  padding: 40px 0 30px;
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: right;
  color: #15113b;
}

.Welcome .list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 15px auto;
}

.Welcome .list li {
  width: Fixed (80px);
  height: Fixed (60px);
  top: 135px;
  left: 335px;
  padding: 10px 12px;
  border-radius: 40px;
  gap: 8px;
  background: #f1f5f9;
}

.Welcome .list li.active {
  background: linear-gradient(180deg, #5648c7 0%, #3f32a4 100%);
  box-shadow: 0px 2px 5px 0px #2b1f8d1a;
  box-shadow: 0px 0px 0px 1px #4133ab;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 0px 0px #7563ff inset;
}

.Welcome .list li a {
  font-family: Cairo;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #36474f;
  margin: 7px;
}

.Welcome .list li.active a {
  color: #ffffff;
}

/* End Welcome */

/* Start Cards_Auctions */
.card {
  display: flex;
  flex-wrap: nowrap !important;
  text-align: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px;
  margin: 15px auto;
  width: 100%;
  padding: 10px;
  background: #f1f5f9;
  border: 1px solid #f1f5f9;
}

.title_auctions {
  width: 50% !important;
}

.title_auctions h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: #36474f;
}

.title_auctions .time {
  display: flex;
  padding-top: 4px;
}

.title_auctions .time .parent {
  position: relative;
  padding: 0;
  margin: 0 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #f1f5f9;
}

.title_auctions .time .child {
  position: absolute;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
}

.title_auctions .time p {
  font-size: 22px;
  font-weight: 700;
  padding-top: 9px;
  text-align: right;
  color: #36474f;
}

.title_auctions .price {
  width: 109px;
  height: 44px;
  border-radius: 8px;
  background: #f1f5f9;
  margin: 4px 10px auto;
  text-align: center;
  justify-content: center;
  padding: 3px 10px 0;
}

.title_auctions .price p {
  font-family: Cairo;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  color: #36474f;
}

.img_card {
  width: 50% !important;
}

.img_card img {
  height: 174px;
  width: 100% !important;
}

/* End Cards_Auctions 1 */

/* Start Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f7f9;
  margin: 10px auto;
  padding: 10px 15px 0;
  border-radius: 35px;
}

.header a,
.header a:hover {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 5px 7px;
  text-align: center;
  color: #36474f;
}

/* End Header */

/***********************************************************/
/***************** Start Add  Auction Page *****************/
/***********************************************************/
.banner {
  margin: 30px auto 50px;
  width: 399px;
  height: 368px;
  border-radius: 40px;
  background-image: url(../imgs/rectangle.png);
}

.banner img {
  margin-top: 340px;
}

/* add auctions */
.add_auctions h1 {
  font-family: Cairo;
  font-size: 19px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
}

/* auction Price */
.auction_Price {
  width: 398px;
  height: 110px;
  top: 556px;
  left: 17px;
  border-radius: 18px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background: #f1f5f9;
  border-radius: 18px;
  padding: 20px 10px;
  margin: 40px auto;
}

.auction_Price .auction_time {
  display: flex !important;
  margin-top: 20px;
}

.auction_Price .auction_time img {
  width: 33px;
  height: 33px;
  padding: 5px;
}

.auction_Price .auction_time p {
  font-size: 22px;
  font-weight: 700;
  text-align: right;
  color: #36474f;
}

.auction_Price .current_price {
  display: block;
}

.auction_Price .current_price span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: right !important;
  color: #36474f;
}

.auction_Price .current_price h1 {
  font-size: 35px;
  font-weight: 700;
  text-align: right;
  color: #36474f;
}

/* auction notes */
.auction_notes {
  width: 398px;
  margin: auto;
  text-align: start;
  padding: 30px 20px 10px 20px;
  border-radius: 18px;
  background: #f1f5f9;
}

.auction_notes h1 {
  font-family: Cairo;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
  color: #36474f;
}

.auction_notes p {
  font-family: Cairo;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  text-align: right;
  color: #36474f;
}

/* Product file */
.Product_file {
  height: 70px;
  width: 398px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-radius: 18px;
  background: #f1f5f9;
}

.Product_file h1 {
  font-family: Cairo;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
  padding-top: 5px;
}

/* all notes */
.all_notes {
  width: 398px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 18px;
  background: #f1f5f9;
}

.all_notes .notes_people {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.all_notes .notes_people h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #36474f;
  padding-top: 10px;
}

.people {
  display: flex;
}

.people img {
  width: 20px;
  height: 20px;
  margin: auto 10px auto 0;
}

.people p {
  font-size: 18px;
  font-weight: 700;
  padding-top: 7px;
}

.people h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #36474f;
}

/* auction total */
.auction_total .total h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  padding: 0 20px;
  color: #36474f;
}

.auction_total .total p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  padding: 0 20px;
  color: #36474f;
}

/* Add auction */
.Add_auction .Add {
  width: 398px;
  height: Fixed (60px);
  padding: 15px;
  margin: 30px auto;
  border-radius: 40px;
  gap: 8px;
  background: linear-gradient(180deg, #5648c7 0%, #3f32a4 100%);
  box-shadow: 0px 2px 5px 0px #2b1f8d1a;
  box-shadow: 0px 0px 0px 1px #4133ab;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 0px 0px #7563ff inset;
}

.Add_auction .Add a {
  font-family: Cairo;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

/***********************************************************/
/****************** End Add  Auction Page ******************/
/***********************************************************/
/***********************************************************/
/************* Start Recent transactions Page **************/
/***********************************************************/

.transactions {
  padding-top: 150px;
  height: calc(100vh - 265px);
}

.transactions h2 {
  font-family: Cairo;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #36474f;
}

.transactions p {
  width: 245px;
  height: 59px;
  margin: auto;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #36474f;
}

/***********************************************************/
/************* End Recent transactions Page ****************/
/***********************************************************/

/***********************************************************/
/*************** Start Congratulations Page ****************/
/***********************************************************/

.congratulations {
  font-family: Cairo;
  width: 398px;
  height: 290px;
  margin: auto;
  border-radius: 18px;
  background: #f5f3ff;
}

.congratulations .congratulations_title {
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0em;
  padding: 20px;
  text-align: right;
  color: #36474f;
}

.owner_price {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.owner_price .owner {
  width: 55%;
  padding: 0 20px 0 0;
  font-family: Cairo;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
}

.owner_price .owner_AllPrice {
  width: 45%;
  margin: 0 auto;
  padding: 0 20px 0 0;
}

.owner_price .owner_AllPrice p {
  font-family: Cairo;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
}

.owner_price .owner_AllPrice h2 {
  font-family: Cairo;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
}

.request_auction .request {
  width: 370px;
  height: Fixed (70px);
  padding: 30px 15px;
  margin: 30px auto;
  border-radius: 20px;
  gap: 8px;
  background: linear-gradient(180deg, #5648c7 0%, #3f32a4 100%);
  box-shadow: 0px 2px 5px 0px #2b1f8d1a;
  box-shadow: 0px 0px 0px 1px #4133ab;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 0px 0px #7563ff inset;
}

.request_auction .request a {
  font-family: Cairo;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

/***********************************************************/
/**************** End Congratulations Page *****************/
/***********************************************************/
/***********************************************************/
/**************** Start Waiting_auction Page *****************/
/***********************************************************/

.Waiting_auction .Waiting {
  width: 398px;
  height: Fixed (60px);
  padding: 15px;
  margin: 30px auto;
  border-radius: 10px;
  gap: 8px;
  background: #f1f5f9;
  box-shadow: 0px 2px 5px 0px #f1f5f9;
}

.Waiting_auction .Waiting a {
  font-family: Cairo;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #8d9498;
}

/***********************************************************/
/**************** End Waiting_auction Page *****************/
/***********************************************************/
/***********************************************************/
/********************* End Login Page **********************/
/***********************************************************/
.login {
  height: calc(100vh - 20px);
  padding: 90px 15px;
}

.login h2 {
  font-family: Cairo;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
}

.login p {
  font-family: Cairo;
  width: 90%;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
}

.login input {
  width: 398px;
  height: Fixed (65px);
  top: 259px;
  left: 28px;
  padding: 15px 25px 15px 27px;
  border-radius: 12px;
  gap: 10px;
  outline: none;
  border: none;
  background: #f1f5f9;
}

.entrance {
  width: 398px;
  height: Fixed (60px);
  padding: 15px;
  margin: 30px auto;
  border-radius: 10px;
  gap: 8px;
  background: linear-gradient(180deg, #5648c7 0%, #3f32a4 100%);
  box-shadow: 0px 2px 5px 0px #2b1f8d1a;
  box-shadow: 0px 0px 0px 1px #4133ab;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 0px 0px #7563ff inset;
}

.entrance a,
.entrance a:hover {
  font-family: Cairo;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #ffffff;
}

/***********************************************************/
/********************* End Login Page **********************/
/***********************************************************/

/***********************************************************/
/***************** Start Persona lData Page ****************/
/***********************************************************/
.personalData {
  padding: 15px;
}

.personalData h2 {
  font-family: Cairo;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
}

.personalData p {
  font-family: Cairo;
  width: 90%;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
  color: #36474f;
}

.personalData input {
  width: 398px;
  height: Fixed (65px);
  top: 259px;
  left: 28px;
  padding: 15px 25px 15px 27px;
  border-radius: 12px;
  gap: 10px;
  outline: none;
  border: none;
  background: #f1f5f9;
}

.personalData .Type {
  margin: 0;
  padding-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.personalData .Type .male,
.personalData .Type .feminine {
  width: 170px;
  height: 65px;
  padding: 15px 25px;
  border-radius: 12px;
  background: #f1f5f9;
}

.personalData .Type .male {
  border: 1px solid #4336aa;
}

.personalData .Type .male p,
.personalData .Type .feminine p {
  font-family: Cairo;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  padding-top: 5px;
  text-align: center;
  justify-content: center;
  color: #4336aa;
}

.personalData button {
  width: Fixed (350px);
  height: Fixed (60px);
  top: 359px;
  left: 40px;
  padding: 6px 12px 6px 12px;
  border-radius: 40px;
  gap: 8px;
  background: linear-gradient(180deg, #5648c7 0%, #3f32a4 100%);
}

.personalData .form-check {
  text-align: start;
  padding: 0;
  margin: 0;
}

.personalData .form-check input {
  width: 20px !important;
  height: 20px !important;
  padding: 10px 0;
  margin: 20px 0;
  border-radius: 20px !important;
}

.personalData .form-check span {
  font-family: Cairo;
  margin: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: #8e9ca3;
}

.personalData textarea {
  width: 100%;
  height: 140px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #f1f5f9;
}

#add_advertisement {
  height: 100vh;
}

/***********************************************************/
/***************** End Personal Data Page ******************/
/***********************************************************/
/***********************************************************/
/***************** Start Add Photos Page *******************/
/***********************************************************/

.add_img {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.add_img .delete {
  margin: 0 10px;
  display: block;
  width: 80px;
  height: 80px;
  top: 201px;
  left: 231px;
  border-radius: 5px;
}

.personal_data .list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 15px auto;
}

.personal_data .list li {
  width: Fixed (80px);
  height: Fixed (60px);
  top: 135px;
  left: 335px;
  padding: 10px 12px;
  border-radius: 40px;
  margin: 8px;
  background: #f1f5f9;
}

.personal_data .list li.active {
  background: linear-gradient(180deg, #5648c7 0%, #3f32a4 100%);
  box-shadow: 0px 2px 5px 0px #2b1f8d1a;
  box-shadow: 0px 0px 0px 1px #4133ab;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 0px 0px #7563ff inset;
}

.personal_data .list li a {
  font-family: Cairo;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #36474f;
  margin: 7px;
}

.personal_data .list li.active a {
  color: #ffffff;
}

/***********************************************************/
/******************** End Add Photos Page ******************/
/***********************************************************/
